.portfolio__list {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-dark);
  font-family: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  & {
    color: var(--color-dark);
  }
  & {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
  }
  & {
    border: none;
  }
  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio__ button:hover {
  background-color: var(--accent-color);
  color: white;
}
