.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team__list {
  display: flex;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__title {
  @include font();
  text-align: center;
  color: $--second-title-color;
  & {
    margin-bottom: 50px;
  }
}

.team__name {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team__profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 10px;
}
.team__link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  @extend %align-list;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}

.team__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  flex-basis: calc((100% - 90px) / 4);
}

.team__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .team__link:hover &,
  .team__:focus & {
    fill: #ffffff;
  }
}

.team__soc {
  display: flex;
  justify-content: center;
}

.team-soc__item + .team-soc__item {
  margin-left: 10px;
}

.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
}
