:root {
  --header-color: #212121;
  --main-title-color: #ffffff;
  --btn-color: #ffffff;
  --second-title-color: #212121;
  --accent-color: #2196f3;
  --accent-dark-color: #1f8be3;
  --color-dark: #2f303a;
  --color-grey: rgba(255, 255, 255, 0.6);
  --color-red: red;
}

.color-black {
  color: var(--color-dark);
}

.color-white {
  color: #ffffff;
  display: block;
}

.color-blue {
  color: var(--accent-color);
}

.color-grey {
  color: var(--color-grey);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.online-button, .check-text, .backdrop, .footer-soc-link, .footer-icon, .customers__link, .team__link, .section-benefits-link, .hero-top-text, .hero-btn, .header .container {
  align-items: center;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-dark);
}

.logo {
  margin-right: 93px;
}

.hero-btn {
  min-width: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
}
.hero-btn:hover, .hero-btn:focus {
  color: #ffffff;
  background-color: var(--accent-dark-color);
  max-width: 696px;
}

.hero-btn {
  background-color: var(--accent-color);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .contact__list {
    margin-left: auto;
  }
}
.contact {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .contact {
    flex-direction: column;
    margin-left: auto;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    flex-direction: row;
  }
}

.contact__item:not(:last-child) {
  margin-right: 30px;
}

.contact__link {
  display: flex;
  align-items: center;
  transition: color 250ms #757575;
}
.contact__link:hover, .contact__link:focus {
  color: #2196f3;
  fill: #2196f3;
}
@media screen and (min-width: 1200px) {
  .contact__link:last-child {
    margin-right: 0;
    margin-top: 0;
  }
}

.contact__link.email:hover,
.contact__link.email:focus {
  color: #2196f3;
}

.contact__link.email {
  margin-top: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .contact__link.email {
    margin-top: 0;
    font-size: 12px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link.email {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 30px;
    font-size: 14px;
  }
}

.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
  fill: #2196f3;
}

.mobile-menu {
  display: flex;
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: -2px;
    overflow: auto;
    padding-left: 40px;
    width: calc(100vw + 2px);
    height: 100vh;
    background-color: white;
  }
  .mobile-menu.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
  }
}

.header__button {
  margin-left: auto;
  background-color: transparent;
  color: #000;
  cursor: pointer;
}
.header__button.is-open {
  z-index: 2;
}
.header__button.is-open .header__icon--menu {
  display: none;
}
.header__button.is-open .header__icon--close {
  display: block;
}
.header__button .header__icon {
  border: none;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}

.header__icon--close {
  display: none;
}

.header-social__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .header-social__list {
    display: none;
  }
}

.header-social__item {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
}
.header-social__item:first-child {
  margin-left: 0;
}

.header-social__link {
  display: flex;
  margin-left: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.header-social__link:first-child {
  margin-left: 0;
}

.header-social__border {
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

.navigation__list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 767px) {
  .navigation__list {
    flex-direction: row;
  }
}

.navigation__item {
  margin-bottom: 32px;
  margin-right: auto;
}

.navigation__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .navigation__link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000;
  }
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.current {
  color: var(--accent-color);
}

.navigation__link--current {
  color: #2196f3;
}

.hero-connect {
  display: flex;
}

.hero-item {
  position: relative;
}
.hero-item {
  margin: 15px;
}

.hero-top-text {
  position: absolute;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding-right: 24px;
  display: flex;
  justify-content: center;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-jpg-link:hover .hero-top-text {
  transform: translateY(0%);
}

.hero-top-wrap {
  position: relative;
  overflow: hidden;
}

.hero-list {
  display: block;
}

.portfolio {
  padding-top: 46px;
  padding-bottom: 60px;
}

.hero-first {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.hero-first {
  margin-bottom: 4px;
}

.hero-second {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-content {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.hero-jpg-link {
  display: block;
  overflow: hidden;
}
.hero-jpg-link {
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-jpg-link {
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-jpg-link:hover, .hero-jpg-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-jpg-link:hover, .hero-jpg-link:focus {
  overflow: hidden;
}

.hero-jpg-link:hover .footer-soc-icon,
.hero-jpg-link:focus .footer-soc-icon {
  background-color: #2196f3;
}

.hero-text {
  max-width: 360px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
}
@media screen and (min-width: 1200px) {
  .hero-text {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.bg-dark {
  background-color: var(--color-dark);
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images1/mobile/logo.webp);
  max-width: 1600px;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .bg-dark {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero@2x.webp);
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
  .bg-dark {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero.webp);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .bg-dark {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images1/tablet/hero@2x.webp);
  }
}
@media screen and (min-width: 1200px) {
  .bg-dark {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/HeroImg.webp);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .bg-dark {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images1/desktop/HeroImg@2x.webp);
  }
}
@media screen and (min-width: 1200px) {
  .bg-dark {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.hero-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .hero-item {
    width: calc((100% - 90px) / 4);
  }
}

.hero-text {
  margin-bottom: 30px;
}

.section-top-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.section-top-text {
  color: #212121;
  margin-bottom: 10px;
  margin-top: 30px;
}

.section {
  padding-top: 94px;
}

.section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .section-item {
    width: calc((100% - 90px) / 4);
  }
}

.section-main-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-benefits-link {
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about .list {
  display: flex;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.about__title {
  margin-bottom: 50px;
}

.about__item {
  position: relative;
}

.about__text {
  font-size: 14px;
  letter-spacing: 0.03em;
  position: absolute;
  bottom: 0;
  width: 370px;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  line-height: 1.14;
  padding: 27px 0;
  text-transform: uppercase;
  text-align: center;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.team__title {
  margin-bottom: 50px;
}

.team__name {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team__profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 10px;
}

.team__link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover, .team__link:focus {
  background-color: #2196f3;
}

.team__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.team__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover .team__icon, .team__:focus .team__icon {
  fill: #ffffff;
}

.team__soc {
  display: flex;
  justify-content: center;
}

.team-soc__item + .team-soc__item {
  margin-left: 10px;
}

.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.portfolio__list {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-dark);
  font-family: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button {
  color: var(--color-dark);
}
.portfolio__button {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
}
.portfolio__button {
  border: none;
}
.portfolio__button:hover, .portfolio__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__ button:hover {
  background-color: var(--accent-color);
  color: white;
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers__link {
  border: 1px solid #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}
.customers__link:hover, .customers__link:focus {
  border-color: #2196f3;
}
.customers__link {
  height: 92px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link {
  display: flex;
  justify-content: center;
}

.customers__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.customers__item {
  width: 100%;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .customers__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    width: calc((100% - 150px) / 6);
  }
}

.customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.customers__title {
  margin-bottom: 50px;
}
.customers__title {
  justify-content: center;
}

.customers__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover .customers__icon, .customers__link:focus .customers__icon {
  fill: #2196f3;
}

.customers__item {
  background-color: #ffffff;
}

.footer-bg {
  padding: 60px 0;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer-container {
    flex-direction: row;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 74px 0 61px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer__wrap {
    padding: 0;
    flex-direction: row;
    justify-content: start;
  }
}
.footer-bg-contact {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-bg-contact {
    margin: 0;
    width: 231px;
  }
}

.list {
  margin-top: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .list {
    text-align: left;
  }
}

.footer-icon {
  display: flex;
  justify-content: center;
}

.footer-soc-icon {
  fill: #ffffff;
}

.footer-soc-link:hover {
  background-color: #2196f3;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
}

.footer-bg {
  background-color: var(--color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-bg .container {
  display: flex;
  align-items: baseline;
}

@media screen and (min-width: 1200px) {
  footer-bg-soc {
    margin-left: 70px;
  }
}
.footer-contact {
  display: block;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

address {
  font-style: normal;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-soc-item + .footer-soc-item {
  margin-left: 10px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 1200p) {
  .footer-title {
    text-align: center;
  }
}

.footer-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link.color-white {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.modal {
  width: 528px;
  padding: 40px 39px 40px 41px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: #2196f3;
}

.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.modal-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 30px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #2196f3;
}
.modal-input::-moz-placeholder {
  color: #757575;
}
.modal-input:-ms-input-placeholder {
  color: #757575;
}
.modal-input::placeholder {
  color: #757575;
}
.modal-input-wrap {
  position: relative;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
}

.modal-text {
  width: 448px;
  height: 120px;
  padding: 12px 16px 12px 16px;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  display: block;
  resize: none;
  outline: none;
}
.modal-text:hover, .modal-text:focus {
  border-color: #1f8be3;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-field-text {
  margin-bottom: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .input-icon {
  fill: #2196f3;
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  display: flex;
}
.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}
.input-check:checked + .check-text::before {
  background-color: #2196f3;
  border: 0.2px solid #ffffff;
  background-image: url(../images/check1.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px 0px 0px 40px;
}
.input-check:focus + .check-text::before {
  border-color: 0.2px solid #ffffff;
}

.input-checkbox {
  margin-bottom: 30px;
}

.input-btn {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 55px;
  padding-left: 55px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.input-btn:hover, .input-btn:focus {
  color: #ffffff;
  border: none;
}
.input-btn {
  margin: auto;
  display: block;
}

.input-text {
  color: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.online-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.online-input .footer-form__input {
  padding-left: 16px;
  margin-bottom: 20px;
  max-width: 450px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .online-input .footer-form__input {
    margin-bottom: 0;
    width: 358px;
    margin-right: 12px;
  }
}

.online {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .online {
    flex-direction: row;
    align-items: baseline;
  }
}

.online-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  border: none;
}
.online-button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.online-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 8px;
}

.online-form {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .online-form {
    margin-top: 0;
    margin-left: 93px;
  }
}

.online-soc-icon {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */