.customers {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
​ .customers__link {
  border: 1px solid #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  &:hover,
  &:focus {
    border-color: #2196f3;
  }
  & {
    height: 92px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & {
    display: flex;
    justify-content: center;
    @extend %align-list;
  }
}
​ .customers__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
​ .customers__item {
  width: 100%;
  width: calc((100% - 30px) / 2);
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
  }
}
// .customers__title {
//   @include font();
//   text-align: center;
//   color: $--second-title-color;
//   & {
//     margin-bottom: 50px;
//   }
​
//   & {
//     justify-content: center;
//   }
// }
​
.customers__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
​ .customers__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .customers__link:hover &,
  .customers__link:focus & {
    fill: #2196f3;
  }
}
​ .customers__item {
  background-color: #ffffff;
  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}
