.hero-connect {
  display: flex;
}

.hero-item {
  position: relative;
  & {
    margin: 15px;
  }
}

.hero-top-text {
  position: absolute;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  // font-weight: 400;
  // line-height: 1.55;
  // padding-left: 24px;
  // font-size: 18px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding-right: 24px;
  display: flex;
  justify-content: center;
  @extend %align-list;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .hero-jpg-link:hover & {
    transform: translateY(0%);
  }
}

.hero-top-wrap {
  position: relative;
  overflow: hidden;
}

.hero-list {
  display: block;
}

.portfolio {
  // padding-top: 94px;
  // padding-bottom: 94px;
  padding-top: 46px;
  padding-bottom: 60px;
}

.hero-first {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  & {
    margin-bottom: 4px;
  }
}

.hero-second {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

// .hero-list {
//   display: flex;
//   flex-wrap: wrap;
//   & {
//     margin: -15px;
//   }
// }

.hero-content {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.hero-jpg-link {
  display: block;
  overflow: hidden;
  & {
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & {
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover,
  &:focus {
    overflow: hidden;
  }
}

.hero-jpg-link:hover .footer-soc-icon,
.hero-jpg-link:focus .footer-soc-icon {
  background-color: #2196f3;
}

.hero-text {
  max-width: 360px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: white;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.bg-dark {
  background-color: var(--color-dark);
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images1/mobile/logo.webp);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/hero@2x.webp);
    background-size: cover;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/hero.webp);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images1/tablet/hero@2x.webp);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop/HeroImg.webp);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images1/desktop/HeroImg@2x.webp);
    }
  }
  // background-repeat: no-repeat;
  // background-size: cover;
  max-width: 1600px;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.her__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.hero-item {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
  // flex-basis: calc((100% - 90px) / 3);
}

.hero-text {
  margin-bottom: 30px;
}
